In [1]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import math
import linearmodels as lm
from tsmom_model import *
import numpy as np
from datetime import datetime
from linearmodels.asset_pricing import LinearFactorModel
import statsmodels.formula.api as sm
token="Us3wFmXGgAj_1cUtHAAR"

In [2]:
import pylab
sns.set(font_scale=3)
pylab.rcParams['figure.figsize'] = (24, 18)

In [3]:
cleansed=load_amihud_markets_price()

/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:36: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  data=pd.read_csv('./Price.csv',index_col=0,parse_dates=['Date']).resample(rule='d',how='last')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:38: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  qd=pd.read_csv('./liquid_contracts.csv',index_col=0,parse_dates=['Date']).resample(rule='d',how='last')

In [4]:
amihud=calculate_amihud_liquidity(cleansed)[:'2016']

/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:25: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  data=pd.read_csv('./Volume.csv',index_col=0,parse_dates=['Date']).resample(rule='d',how='mean')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:27: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  v=pd.read_csv('./volume_data.csv',index_col=0,parse_dates=['Date']).resample(rule='d',how='sum')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:29: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=250,min_periods=100,center=False).mean()
  volume=pd.rolling_mean(v,250,min_periods=100).resample(rule='d',how='mean')[:'2016']
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:29: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  volume=pd.rolling_mean(v,250,min_periods=100).resample(rule='d',how='mean')[:'2016']
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:32: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=250,min_periods=50,center=False).mean()
  volume[name]=pd.rolling_mean(v2[x],250,min_periods=50).resample(rule='d',how='mean')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:32: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  volume[name]=pd.rolling_mean(v2[x],250,min_periods=50).resample(rule='d',how='mean')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:89: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  fx=fx.resample(rule='d',how='last')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:90: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  px=cleansed.resample(rule='d',how='last')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:98: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  x= (cleansed.pct_change().abs()/ total_vol).resample(rule='m',how='mean')

# Linear Factor Model for Non-traded Factors

Requires a two step process as proposed by Fama Macbeth (1973?).  Since the liquidity measures are not traded we need to run the below to get the factor loadings, $\beta_i$ to the non traded factor:

$$r_{it}^e =c_i + \beta_if_t + \varepsilon_{it}$$

where $c_i$ is a throw away contant which demeans the factor.

In [5]:
data=calc_zscore_expanding_window(amihud.dropna(how='all'),3).dropna(how='all')
sector_zscores={}
sector_rtns={}
d_map=sector_map(amihud)
for sect in d_map.keys():
    sector_zscores[sect]=data[d_map[sect]].dropna(how='all')
    sector_rtns[sect]=cleansed[d_map[sect]].dropna(how='all')

/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:71: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=100000000,min_periods=3,center=False).mean()
  return (df-pd.rolling_mean(df,100000000,min_periods=min_per))/pd.rolling_std(df,100000000,min_periods=min_per)
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:71: FutureWarning: pd.rolling_std is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=100000000,min_periods=3,center=False).std()
  return (df-pd.rolling_mean(df,100000000,min_periods=min_per))/pd.rolling_std(df,100000000,min_periods=min_per)

In [6]:
results_df=pd.DataFrame()
for sect in sector_zscores.keys():
    c_matrix=[]
    tstats=[]
    for t in [0,1]:
        for ent in [0,1]:
            data=pd.DataFrame(sector_zscores[sect].stack()) 
            px=pd.DataFrame(sector_rtns[sect].resample(rule='m',how='last').pct_change().shift().stack())
            ind=data.index
            px=px.loc[ind]
            res=lm.PanelOLS(px.to_panel()[0],
                    data.to_panel()[0], 
                    time_effects=t,
                    entity_effects=ent).fit(cov_type='clustered',cluster_time=True)
            c_matrix.append(res.params.Exog)
            tstats.append(res.tstats.Exog)
    results_df[sect]=pd.Series(c_matrix)*100
    results_df[sect + 'Tstats']=pd.Series(tstats)
results_df=results_df.set_index([['None','Ent','Time','Ent and Time']])

/Users/mrefermat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()

/Users/mrefermat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  # This is added back by InteractiveShellApp.init_path()
/Users/mrefermat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  if sys.path[0] == '':
/Users/mrefermat/anaconda3/lib/python3.6/site-packages/linearmodels/utility.py:490: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [10]:
sector_rtns={}
d_map=sector_map(amihud)
for sect in d_map.keys():
    sector_rtns[sect]=cleansed[d_map[sect]].dropna(how='all')

,AEX-AEX INDEX,BMF-BOVESPA INDEX,CAC 40,CFE-VIX INDEX,CME-MINI S&P 500 INDEX,CME-NIKKEI 225 INDEX COMB.,DAX,Dow Jones,EUREX-DJ EURO STOXX 50,EUREX-SMI,...,OSLO-OBX INDEX,Russell 2000,S&P MidCap 400,SAFEX-INDUSTRIAL 25 INDEX,SFE-SPI 200 INDEX,SGX DT-MSCI SING. INDEX,SGX DT-MSCI TAIWAN ETS,SGX DT-NIKKEI 225 ETS,SGX DT-NIKKEI STOCK AVG DIV,TSE-TOPIX INDEX
Date,,,,,,,,,,,,,,,,,,,,,
1986-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18580.0,NaN,NaN
1986-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18610.0,NaN,NaN
1986-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18710.0,NaN,NaN
1986-09-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18560.0,NaN,NaN
1986-09-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18430.0,NaN,NaN
1986-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18620.0,NaN,NaN
1986-09-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18630.0,NaN,NaN
1986-09-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18080.0,NaN,NaN
1986-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18080.0,NaN,NaN
1986-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17490.0,NaN,NaN
1986-09-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17350.0,NaN,NaN
1986-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17400.0,NaN,NaN
1986-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17700.0,NaN,NaN
1986-09-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17795.0,NaN,NaN
1986-09-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17985.0,NaN,NaN
1986-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18120.0,NaN,NaN
1986-09-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18015.0,NaN,NaN
1986-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17885.0,NaN,NaN
1986-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18085.0,NaN,NaN
1986-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17650.0,NaN,NaN
1986-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17350.0,NaN,NaN
1986-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16825.0,NaN,NaN
1986-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16950.0,NaN,NaN
1986-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16860.0,NaN,NaN
1986-10-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17000.0,NaN,NaN
1986-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16980.0,NaN,NaN
1986-10-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17475.0,NaN,NaN
1986-10-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17500.0,NaN,NaN
1986-10-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17260.0,NaN,NaN
1986-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17390.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-19,479.90,58100.0,4817.0,12.15,NaN,19450.0,11417.0,NaN,3238.0,8129.0,...,614.35,1373.3,1676.9,NaN,5528.0,325.55,344.2,19345.0,326.7,1548.0
2016-12-20,483.90,58645.0,4844.0,11.55,NaN,19605.0,11468.5,NaN,3265.0,8160.0,...,613.88,1383.3,1686.4,NaN,5569.0,325.45,344.4,19470.0,328.4,1553.5
2016-12-21,483.25,58525.0,4835.0,14.05,NaN,19455.0,11470.0,NaN,3260.0,8133.0,...,611.70,1374.1,1678.9,NaN,5604.0,324.00,343.1,19470.0,328.0,1544.0
2016-12-22,482.10,58200.0,4836.0,14.28,NaN,19445.0,11444.5,NaN,3258.0,8147.0,...,612.60,1363.1,1669.0,NaN,5631.0,320.50,338.8,19360.0,328.0,1539.5
2016-12-23,483.35,59140.0,4840.5,14.29,NaN,19455.0,11447.5,NaN,3262.0,8159.0,...,615.01,1370.2,1672.2,NaN,5667.0,318.95,337.8,19360.0,328.0,1539.5
2016-12-26,483.35,59730.0,NaN,14.29,NaN,19455.0,NaN,NaN,3262.0,8159.0,...,615.01,NaN,NaN,NaN,5667.0,317.70,339.1,19360.0,327.5,1534.0
2016-12-27,483.00,59630.0,4850.0,14.00,NaN,19460.0,11475.5,NaN,3267.0,8175.0,...,618.52,1374.7,1678.7,NaN,5667.0,321.90,339.1,19360.0,327.5,1532.5
2016-12-28,482.05,60695.0,4849.0,14.63,NaN,19390.0,11471.5,NaN,3256.0,8138.0,...,620.87,1360.3,1661.3,NaN,5688.0,322.70,342.8,19360.0,327.8,1541.5
2016-12-29,481.90,60950.0,4840.0,14.84,NaN,19090.0,11442.5,NaN,3257.0,8152.0,...,620.84,1362.6,1666.0,NaN,5706.0,321.50,341.1,19200.0,327.8,1515.0
2016-12-30,482.05,60950.0,4863.0,15.10,NaN,19110.0,11465.0,NaN,3272.0,8148.0,...,619.10,1356.9,1659.1,NaN,5693.0,319.80,343.8,19200.0,328.9,1516.5
2017-01-02,486.30,60290.0,NaN,15.10,NaN,19110.0,NaN,NaN,3293.0,8148.0,...,625.50,NaN,NaN,NaN,5693.0,319.80,343.8,19200.0,328.9,1516.5
2017-01-03,488.55,62730.0,4898.0,13.79,NaN,19390.0,11579.0,NaN,3312.0,8257.0,...,628.27,1366.1,1667.8,NaN,5730.0,320.50,345.4,19200.0,328.9,1516.5
2017-01-04,488.40,62540.0,4898.5,13.19,NaN,19665.0,11572.5,NaN,3309.0,8285.0,...,626.12,1386.4,1694.1,NaN,5746.0,323.35,345.0,19600.0,328.8,1558.5
2017-01-05,486.95,62685.0,4900.0,13.05,NaN,19460.0,11570.5,NaN,3307.0,8304.0,...,630.12,1370.6,1681.7,NaN,5744.0,327.55,347.2,19500.0,328.0,1553.5
2017-01-06,487.10,62500.0,4909.0,12.90,NaN,19630.0,11591.5,NaN,3313.0,8348.0,...,627.90,1365.1,1679.4,NaN,5760.0,328.60,349.2,19395.0,328.0,1548.5
2017-01-09,484.75,62500.0,4886.5,12.95,NaN,19455.0,11565.0,NaN,3299.0,8348.0,...,622.47,1355.3,1668.1,NaN,5814.0,329.55,348.6,19650.0,328.0,1548.5
2017-01-10,484.40,63080.0,4887.0,12.90,NaN,19375.0,11585.0,NaN,3295.0,8364.0,...,623.59,1369.2,1679.2,NaN,5800.0,333.05,348.1,19275.0,326.9,1543.0
2017-01-11,487.20,63135.0,4888.0,12.55,NaN,19400.0,11637.0,NaN,3307.0,8346.0,...,627.84,1374.2,1684.9,NaN,5772.0,332.70,347.7,19365.0,326.9,1549.0
2017-01-12,485.85,64680.0,4863.0,12.50,NaN,19225.0,11526.0,NaN,3291.0,8329.0,...,625.97,1358.9,1677.1,NaN,5770.0,332.35,351.3,19140.0,326.9,1533.0
2017-01-13,487.20,64390.0,4921.5,12.20,NaN,19325.0,11619.0,NaN,3310.0,8359.0,...,628.40,1374.1,1685.6,NaN,5723.0,335.85,348.8,19135.0,326.8,1543.5
2017-01-16,484.00,64440.0,NaN,12.20,NaN,19325.0,NaN,NaN,3286.0,8268.0,...,623.88,NaN,NaN,NaN,5747.0,334.45,345.8,19080.0,326.8,1527.5
2017-01-17,482.90,64850.0,4860.0,12.20,NaN,18790.0,11557.5,NaN,3278.0,8230.0,...,622.20,1352.7,1670.3,NaN,5697.0,334.00,348.1,19025.0,326.8,1504.5
2017-01-18,486.30,64500.0,4853.5,14.20,NaN,19050.0,11592.5,NaN,3295.0,8242.0,...,625.00,1357.5,1677.6,NaN,5670.0,333.25,346.4,18870.0,326.8,1512.0
2017-01-19,484.75,64700.0,4840.5,14.25,NaN,19110.0,11592.0,NaN,3274.0,8176.0,...,628.30,1345.9,1665.4,NaN,5671.0,333.75,346.3,18995.0,326.5,1531.5
2017-01-20,487.45,65030.0,4848.5,13.82,NaN,19180.0,11616.0,NaN,3290.0,8183.0,...,633.15,1352.1,1673.8,NaN,5656.0,334.50,347.1,19150.0,327.0,1536.5
2017-01-23,482.25,66430.0,4819.5,13.55,NaN,18875.0,11548.5,NaN,3273.0,8151.0,...,629.15,1347.4,1669.6,NaN,5683.0,335.70,350.4,18945.0,327.0,1515.0
2017-01-24,483.25,66300.0,4827.5,13.03,NaN,19095.0,11587.0,NaN,3287.0,8182.0,...,634.25,1367.1,1695.2,NaN,5630.0,338.00,351.4,18855.0,327.0,1509.5
2017-01-25,486.80,66300.0,4875.0,12.75,NaN,19245.0,11825.5,NaN,3322.0,8301.0,...,640.77,1382.4,1708.3,NaN,5661.0,337.60,355.1,18855.0,327.0,1523.5
2017-01-26,484.25,66600.0,4864.5,12.70,NaN,19555.0,11840.0,NaN,3308.0,8323.0,...,640.72,1376.1,1703.2,NaN,5661.0,340.55,359.8,18855.0,327.0,1552.5
2017-01-27,484.20,66490.0,4837.5,12.55,NaN,19505.0,11813.5,NaN,3298.0,8305.0,...,638.62,1367.5,1694.7,NaN,NaN,342.10,358.2,19460.0,327.0,1552.0

# FHT Annual portfolio sorts

In [9]:
FHT=calculate_FHT(cleansed)
data=calc_zscore_expanding_window(FHT.dropna(how='all'),3).dropna(how='all')
sector_zscores_FHT={}
d_map=sector_map(FHT)
for sect in d_map.keys():
    sector_zscores_FHT[sect]=data[d_map[sect]].dropna(how='all')

/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:53: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).count()
  nonzero=x[x==0].resample(rule='m',how='count')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:54: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).count()
  Z=(nonzero/x.resample(rule='m',how='count')).dropna()
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:55: FutureWarning: pd.rolling_std is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=12,center=False).std()
  data[c]=pd.Series(norm.cdf((1+Z)/2.),index=Z.index)*2*pd.rolling_std(x,12).resample(rule='m',how='last')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:55: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  data[c]=pd.Series(norm.cdf((1+Z)/2.),index=Z.index)*2*pd.rolling_std(x,12).resample(rule='m',how='last')
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:71: FutureWarning: pd.rolling_mean is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=100000000,min_periods=3,center=False).mean()
  return (df-pd.rolling_mean(df,100000000,min_periods=min_per))/pd.rolling_std(df,100000000,min_periods=min_per)
/Users/mrefermat/git/FinancePhD/LiquidityMomentum/tsmom_model3.py:71: FutureWarning: pd.rolling_std is deprecated for DataFrame and will be removed in a future version, replace with
	DataFrame.rolling(window=100000000,min_periods=3,center=False).std()
  return (df-pd.rolling_mean(df,100000000,min_periods=min_per))/pd.rolling_std(df,100000000,min_periods=min_per)

In [10]:
results_df_FHT=pd.DataFrame()
for sect in sector_zscores.keys():
    c_matrix=[]
    tstats=[]
    for t in [0,1]:
        for ent in [0,1]:
            data=pd.DataFrame(sector_zscores_FHT[sect].stack()) 
            px=pd.DataFrame(sector_rtns[sect].resample(rule='m',how='last').pct_change().shift().stack())
            ind=data.index
            px=px.loc[ind]
            res=lm.PanelOLS(px.to_panel()[0],
                    data.to_panel()[0], 
                    time_effects=t,
                    entity_effects=ent).fit(cov_type='clustered',cluster_time=True)
            c_matrix.append(res.params.Exog)
            tstats.append(res.tstats.Exog)
    results_df_FHT[sect]=pd.Series(c_matrix)*100
    results_df_FHT[sect + 'Tstats']=pd.Series(tstats)
results_df_FHT=results_df_FHT.set_index([['None','Ent','Time','Ent and Time']])

/Users/mrefermat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()

/Users/mrefermat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  # This is added back by InteractiveShellApp.init_path()
/Users/mrefermat/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  if sys.path[0] == '':
/Users/mrefermat/anaconda3/lib/python3.6/site-packages/linearmodels/utility.py:490: MissingValueWarning:
Inputs contain missing values. Dropping rows with missing observations.
  warnings.warn(missing_value_warning_msg, MissingValueWarning)

In [11]:
results_df_FHT.T.round(2)

                    None   Ent  Time  Ent and Time
Equities           -1.29 -1.29 -0.40         -0.36
EquitiesTstats     -5.62 -4.88 -2.47         -1.92
Commodities        -0.25 -0.31 -0.16         -0.16
CommoditiesTstats  -1.24 -1.56 -1.38         -1.39
Currencies         -0.21 -0.22  0.11          0.11
CurrenciesTstats   -1.45 -1.52  0.64          0.55
Fixed Income        0.00  0.01  0.01         -0.01
Fixed IncomeTstats  0.15  0.29  0.24         -0.41

In [15]:
print(results_df_FHT.T.round(2).to_latex())

\begin{tabular}{lrrrr}
\toprule
{} &  None &   Ent &  Time &  Ent and Time \\
\midrule
Equities           & -1.29 & -1.29 & -0.40 &         -0.36 \\
EquitiesTstats     & -5.62 & -4.88 & -2.47 &         -1.92 \\
Commodities        & -0.25 & -0.31 & -0.16 &         -0.16 \\
CommoditiesTstats  & -1.24 & -1.56 & -1.38 &         -1.39 \\
Currencies         & -0.21 & -0.22 &  0.11 &          0.11 \\
CurrenciesTstats   & -1.45 & -1.52 &  0.64 &          0.55 \\
Fixed Income       &  0.00 &  0.01 &  0.01 &         -0.01 \\
Fixed IncomeTstats &  0.15 &  0.29 &  0.24 &         -0.41 \\
\bottomrule
\end{tabular}